@media (max-width: 1250px) {
  .left-panel-container {
    display: none;
    z-index: 6;
  }

  .left-panel-container.show {
    position: absolute;
    display: block !important;
    width: 240px;
    min-width: 240px;
    height: calc(100vh - 105px);
    padding: 24px 22px 0 22px;
    border-right: 0px;
    background-color: #ffffff;
    border-right: 1px solid #e6e8ec;
  }

  .left-panel-container.show {
    border-right: 1px solid #e6e8ec;
  }

  .left-panel-container.hide {
    display: none !important;
  }
}

@media (min-width: 800px) {
  .left-panel-container {
    display: block;
    width: 240px;
    min-width: 240px;
    height: calc(100vh - 105px);
    padding: 24px 23.6px 0 23.6px;
    background-color: #ffffff;
    border-right: 1px solid #e6e8ec;
  }
}

#folder-container {
  width: 100%;
  height: calc(100% - 162px);
  margin-bottom: 12px;
  overflow-y: auto;
}

#root-data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 24px);
  height: 64px;
  padding: 0 8px 0 12px;
  margin: 2px 0 14px 2px;
  border-radius: 8px;
  outline: 2px solid #f4f5f6;
}

.board-list.hide {
  overflow: hidden;
  height: 0px;
  border: 2px solid transparent;
}

.board-list.show {
  border: 2px solid #f4f5f6;
  border-radius: 8px;
  width: calc(100% - 4px);
  padding-bottom: 2px;
  transition: border 0.3s ease;
}

#message-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5c00;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  min-width: 18px;
  margin-right: 4px;
}
