#board-header-container {
  display: flex;
  align-items: center;
  height: 32px;
  border: none;
}

#member-container {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 16px;
}

#board-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  border-radius: 5px;
  padding: 4px 12px;
  width: fit-content;
  max-width: 200px;
  background-color: #ffa800;
  margin-left: 24px;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e6e8ec;
  margin: 26px 0 12px 0;
  padding: 0;
}

#float-button-container {
  position: absolute;
  display: none;
  bottom: -48px;
  right: 40px;
  border-radius: 38px;
  z-index: 6;
}

@media (max-width: 1250px) {
  #float-button-container {
    display: block;
    bottom: 40px;
  }
}

.avatar-list-container {
  display: flex;
  align-items: center;
}
